extends ui_layout_no
block content

  //-Change this URI to a CDN you are using for Photos
  -var cdn = "";
  //.computer.only.tablet.only.four.wide.column 
  //  .ui.card
  //    .image
  //      if user.profile.picture
  //        img(src=user.profile.picture)
  //      else
  //        img(src=user.gravatar(60))
  //    .content
  //      a.header(href='/me')= user.profile.name || user.username || user.id
  //      .meta="@"+user.username
  //      .description=user.profile.bio
  //      .description
  //        if user.profile.location
  //          i.marker.icon
  //          span=user.profile.location
  //    .one.ui.bottom.attached.icon.buttons
  //        button.ui.editprofile.button(data-tooltip='Update Your Profile', data-position='bottom left')
  //          i.write.icon

  #loading.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    img.ui.centered.small.image(src='/public/heart.svg')
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    //-.ui.active.dimmer.feed
      .ui.large.text.loader Loading
    //- Input for creating new post at top of feed
    //#newpost.ui.fluid.left.labeled.right.icon.input
    //  .ui.label
    //    if user.profile.picture
    //      img.ui.avatar.image(src='/user_post/'+user.profile.picture)
    //    else
    //      img.ui.avatar.image(src=user.gravatar(60))
    //  input(type='text', placeholder='Share your meal')
    //  i.big.photo.link.icon
    
    -var ii = 0;
    each val in script
      -ii = ii + 1
      -console.log(ii)
      //- create a card for each post in val (if by user make the card a little different)
      //- if val.relativeTime - then post came from user_post (so user post, user reply to actor reply to user post)
      .ui.fluid.card.dim(id="tweet_"+val.post_id,style="display:block;",postID=val.id, state=val.state || 'unread', type='actor', actor_un = val.actor.username, actor_name = val.actor.profile.name, actor_pic = val.actor.profile.picture)
        //- dimmer DIV for flagging
        .ui.dimmer.flag
              .content
                .center
                  h2.ui.inverted.icon.header
                    i.red.flag.icon
                    |  You&apos;ve flagged this!
                    h3.ui.inverted.header
                      span="The admins will review this post further. We are sorry you had this experience."
        //- Normal Base Post
        if val.retweeted_by.length > 0
          .content
            img.ui.avatar.image(src=cdn+'/profile_pictures/retweet.png', style="margin-left: -1px; margin-top: -5px; border-radius: 50%; width: 48px; height: 48px;")
            span(style="margin-left: 4px; margin-top: 19px; min-width: 85px; height: 17px; font-family: HelveticaNeue; font-size: 16px; font-weight: 500; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: -0.6px; color: #000000;")=val.retweeted_by + " Retweeted"
        if val.quoted_by.length > 0
          .content
            div(style="display: flex;align-items: center")
              div
                img.ui.avatar.image.lazyload(data-src=val.quoted_by_actor_picture, style="margin-left: -1x; margin-top: -5px; border-radius: 50%; width: 48px; height: 48px;")
              div(style="display: inline-grid;")
                div(style="margin-left: 4px; margin-top: 0px; height: 17px; font-family: HelveticaNeue; font-size: 16px; font-weight: 500; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: -0.6px; color: #000000; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;")=val.quoted_by
                div(style="margin-left: 4px; margin-top: 3px; min-width: 85px; height: 17px; font-family: HelveticaNeue; font-size: 16px; font-weight: 500; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: -0.6px; color: #909090; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;")="@"+val.quoted_by_actor_username
          if val.quoted_by_text.length > 0
            .content
              .description(style="color: #000000;")=val.quoted_by_text
        .content
          .right.floated.time.meta= (Date.now() + val.time)
          |  
          //-a(href='/user/'+val.actor.username)
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+val.actor.profile.picture, style="margin-left: -1px; margin-top: -5px; border-radius: 50%; width: 48px; height: 48px;")
            span(style="margin-left: 4px; margin-top: 19px; min-width: 85px; height: 17px; font-family: HelveticaNeue; font-size: 16px; font-weight: 500; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: -0.6px; color: #000000;")=val.actor.profile.name
            span(style="margin-left: 4px; margin-top: 19px; min-width: 85px; height: 17px; font-family: HelveticaNeue; font-size: 16px; font-weight: 500; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: -0.6px; color: #909090;")="@"+val.actor.username
          //a(href=val.profile_link target="_blank")     
            //Change the line above to val.actor.profile.picture since it is a link now/
          div(style="display: flex;align-items: center")
            div
              img.ui.avatar.image.lazyload(data-src=val.actor.profile.picture, style="margin-left: -1x; margin-top: -5px; border-radius: 50%; width: 48px; height: 48px;")
            div(style="display: inline-grid;")
              div(style="margin-left: 4px; margin-top: 0px; height: 17px; font-family: HelveticaNeue; font-size: 16px; font-weight: 500; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: -0.6px; color: #000000; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;")=val.actor.profile.name
              div(style="margin-left: 4px; margin-top: 3px; min-width: 85px; height: 17px; font-family: HelveticaNeue; font-size: 16px; font-weight: 500; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: -0.6px; color: #909090; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;")="@"+val.actor.username
        //-div(style="position: relative; z-index: 1;")
          img(src="image.png" style="position: absolute; z-index: 2;")
          span#overlay_text(style="position: relative; top: -10px; z-index: 3;") OVERLAY
        .content
          //.description(style="margin-left: -8px; margin-bottom: -24px; width: 445px; height: 88px; font-family: HelveticaNeue; font-size: 16px; font-weight: 300;font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: -0.6px; color: #000000;")=val.body
          .description(style="color: #000000;")=val.body
            //if val.urls.length > 0
            //  a(href=val.urls)=" "+val.urls
        //using first mediaLink in val.embedded_images
        if val.embedded_images.length > 0
          //.img.post
          //img.lazyload(data-src=val.embedded_images, style="max-width:100%;width:100%;")
          //img(src=val.embedded_images, style="width:100%;aspect-ratio: auto 344 / 194;height: 300px;", id="images", onload="autoresize(this)")
          img(src=val.embedded_images, style="width:100%;", class="imagesPost", onload="autoresize(this)")
          //iframe(type='text/html', style="overflow:hidden;width:100%;height:200%", height="200%", width="100%", frameborder="0", src=val.embedded_images)
        if val.picture.length > 0
          if val.picture_heading.length > 3
            //Place the loop going through embeded images here presumably above the buttons and any articles.
            //.img.post
            a(href=val.urls target="_blank")
              //img.post(src="/"+val.picture)
              //img(src='/public/picture.svg', data-src="/post_pictures/"+val.picture, style="max-width:100%;width:100%;")
              //img.lazyload(data-src=val.picture, style="max-width:100%;width:100%;height:100%")
              //img(src=val.picture, style="max-width:100%;width:100%;max-height:100%;height:100%", id="images")
              img(src=val.picture, style="width:100%;", class="imagesPost", onload="autoresize(this)")
              //img(src=val.picture, style="width:100%;aspect-ratio: auto 344 / 194;height: 300px;", id="images", onload="autoresize(this)")
              
            if val.picture_heading.length > 0
              .content
                .description(style="font-weight: 1000; text-align: center")=val.picture_heading
            if val.picture_description.length > 0
              .content
                .description=val.picture_description
        .three.ui.bottom.attached.icon.buttons
          .ui.reply.button(tabindex='0',onclick='retweet_clicked(\'' + val.tweet_id + '\')')
            i.reply.icon
            |  Retweet
          a.ui.basic.red.left.pointing.label.count=val.retweets
          //if val.like
          //  .ui.labeled.button(tabindex='0',onclick='like_clicked(\'' + val.tweet_id + ',' + val.access_token + ',' + val.access_token_secret + '\')')
          //    .ui.red.like.button
          //      i.heart.icon
          //      |  Like
          //    a.ui.basic.red.left.pointing.label=val.likes
          //else
          //  .ui.labeled.button(tabindex='0')
          //    .ui.like.button
          //      i.heart.icon
          //      |  Like
          //    a.ui.basic.red.left.pointing.label.count=val.likes
          .ui.reply.button(tabindex='0',onclick='like_clicked(\'' + val.tweet_id + ',' + val.access_token + ',' + val.access_token_secret + '\')')
            i.reply.icon
            |  Like
          a.ui.basic.red.left.pointing.label.count=val.likes



    .ui.fluid.card
      .content
        .description
        |  End of Posts for the last 48 hours.

    script.
      function calSizeList(onresize){
        //sizeList.length = 0;
        sizeList = [];
        topPadding = 0;
        var all_elements = document.getElementsByClassName("fluid");
        //var lennn = 0;
        var lennn = all_elements.length-2;
        //if(onresize == 0){
        //  lennn = all_elements.length-1;
        //}
        //else{
        //  lennn = all_elements.length-2;
        //}
        margin = all_elements[1].offsetTop;
        topPadding = all_elements[0].clientHeight + 2*margin;
        var i = 1;
        for(i = 1;i<lennn;i++){
          //console.log("i : "+i);
          var post_element = document.getElementById("tweet_"+i);
          //img_elements = post_element.getElementsByTagName('img');
          //var height_img = 0;
          //if(img_elements.length > 2) { // New case to handle embeded and article image.
          //  height_img = img_elements[1].width * 0.68;
          //  height_img = height_img + img_elements[2].width * 0.68;
          //  console.log("CALCULATED HEIGHT : "+height_img);
          //}
          //if(img_elements.length > 1){
          //  height_img = img_elements[1].width * 0.68;
          //  if(img_elements.length > 2){
          //    height_img = height_img*2;
          //  } 
          //}
          //if(onresize == 0){
          //  sizeList.push(post_element.clientHeight + margin + height_img); // was + height_img
          //}
          //else{
          sizeList.push(post_element.clientHeight + margin);
          //}
        }
        return sizeList;
      }
      function resizeeventhandler(){  
        img_elements_resize = document.getElementsByClassName("imagesPost");
        var i = 0;
        for(i = 0;i<img_elements_resize.length;i++){
          img_elements_resize[i].height = img_elements_resize[i].clientWidth * (0.68);
        }
        sizeList = calSizeList(1);
      }
      //sizeList = calSizeList(0);
      resizeeventhandler()
    script.
      var win = $(window);
      window.addEventListener("scroll", function(){viewCountScrollBased(sizeList,win.scrollTop(),topPadding)});
    script.
      function autoresize(imgele) {
        imgele.height = imgele.width * (0.68);
      }
    script.
      var win = $(window);
      window.addEventListener('resize', function(){resizeeventhandler()});

    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    .ui.tiny.post.modal()
      i.close.icon
      .header Add a New Post
      .content
        form#postform.ui.feed.form(action='/post/new', method='POST', enctype='multipart/form-data')
          input(type='hidden', name='_csrf', value=_csrf)
          .field
            textarea(rows='2', placeholder='Share your meal', name='body')
          .field.image-upload
            label(for='picinput')
              .image.content
                img#imgInp.ui.fluid.image(src='/public/photo-camera.svg')
            //-input#picinput(type='file', accept='image/*', capture='camera', name='picinput')
            input#picinput(type='file', accept='image/*', name='picinput')
          .ui.error.message
      .actions
        input.ui.green.button(type='submit', name="foo", value='Submit', form='postform')